body {
    height: 100%;
    margin: 0;
    font-family: cursive;
    background-color: rgb(217, 168, 113);
}
header {
    background-position: center;
    height: 20%;
    font-size: 2rem;
    text-align: center;
    color: rgb(50, 30, 2);
}
#banner {
    width: 100%;
    height: 50%;
    border: none;
}
img {
    width: 100%;
    height: 100%;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(171, 94, 7);
    background-color:rgb(50, 30, 2);
    text-align: center;
    cursor: pointer;
}
button:hover {
    background-color: rgb(50, 30, 2);
    color: white;
}
.navbar {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(171, 94, 7);
    color: rgb(50, 30, 2)
    font-weight: bold;
}
.navbar:hover {
    background-color: rgb(50, 30, 2);
    color: white;
}
p {
    font-size: 2rem;
    font-weight: bold;
}